<!DOCTYPE html>
<html>
<head>
  <% if title %>
    <title><%= title %> - Tal Talk</title>
  <% else %>
    <title>Tal Talk</title>
  <% end %>
  <link rel="stylesheet" href="/styles/app.css" />
</head>
<body>

  <nav class="nav">
    <div class="nav-content">
    <h1 class="page-title">
      <a href="/">
        Tal <br />
        Talk
      </a>
    </h1>

    <section class="external-links nav-item-collection">
      <div class="nav-header">
        bloggin'
      </div>
      <a class="nav-item" href="/blog">
        <i class="icon-tags"></i> all
      </a>
      <a class="nav-item" href="/blog/tech">
        <i class="icon-tag"></i> tech
      </a>
      <a class="nav-item" href="/blog/coding">
        <i class="icon-tag"></i> coding
      </a>
    </section>

    <section class="external-links nav-item-collection">
      <div class="nav-header">
        say hi
      </div>

      <a class="nav-item twitter" href="https://twitter.com/Koalemos">
        <i class="icon-twitter"></i> @Koalemos
      </a>
      <a class="nav-item email" href="mailto:me@tal.by">
        <i class="icon-envelope"></i> me@tal.by
      </a>
    </section>

    <section class="external-links nav-item-collection">
      <div class="nav-header">
        my stuff
      </div>

      <a class="nav-item tumblr" href="http://t.tal.by">
        <i class="icon-tumblr2"></i> tumblr
      </a>
      <a class="nav-item github" href="https://github.com/tal">
        <i class="icon-github"></i> github
      </a>
      <a class="nav-item instagram" href="https://instagram.com/tal">
        <i class="icon-instagram"></i> instagram
      </a>
    </section>
    </div>
  </nav>

  <section class="content">
    <%= yield %>
  </section>
</body>
</html>
