<section class="content-column">

  <div class="page-description">
    <h1 class="page-title">Tech</h1>
    <p class="page-content-description">
      All of my musings related to programming and software development. From how-tos to opinion.
    </p>
  </div>

  <div class="post-list">
    <% tagged '_blog', 'tech' do |page| %>
      <a class="post" href="<%= page.href %>">
        <div class="title">
          <%= page.title %>
        </div>

        <% if page.subtitle %>
          <div class="subtitle">
            <%= page.subtitle %>
          </div>
        <% end %>
      </a>
    <% end %>
  </div>
</section>
