.centered-display {
  align-self: center;
}

.about-me {
  background: $lighter-grey;
  padding: 30px 40px;
  font-size: 20px;
  position: relative;
  width: 700px;

  padding: 10px 0 30px 30px;
  border-radius: 0 0 4px 4px;

  .me {
    border: 2px solid $blue-color;
    background: $dark-grey;
    display: block;
    float: left;
  }

  .name {
    color: $blue-color;
    border-bottom: 2px solid $blue-color;
    text-align: right;
    font-weight: bold;
    font-size: 220%;
    padding: 2px 30px;
  }

  .hello {
    color: $body-hide;
    font-weight: bold;
    font-size: 140%;
    text-align: right;
    padding-right: 85px;
    margin-bottom: -7px;
  }

  .header-content {
    $padding: 12px;
    padding: $padding $padding $padding $padding+190px;
  }
}
